<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Blog", root_path, class: "navbar-brand" %>
		</div>
		<ul class="nav navbar-nav">
				<% if user_signed_in? %>
					<li><%= link_to "Új poszt", new_post_path %></li>
					<li><%= link_to "Új kategória", new_category_path %></li>
					<li><%= link_to "Kijelentkezés", destroy_user_session_path, method: :delete %></li>
				<% else %>
				<li><%= link_to "Regisztráció", new_user_registration_path %><li>
				<li><%= link_to "Bejelentkezés", new_user_session_path %></li>
				<% end %>
	</ul>
	</div>
</nav>
<div class="container-fluid">
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</div>

	<%= yield %>
   
  </body>
</html>
